.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    background: #000;
    overflow: hidden;
    user-select: none;
}

.star {
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 100;
    animation: star linear infinite,
    starFlash 2s linear infinite;
}

@keyframes star {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 1px);
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(100vw, 0, 1px);
    }
}

@keyframes starFlash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sustext {
    position: fixed;
    padding-top: 10rem;
    height: 100vh;
    width: 100vw;
    text-align: center;
    z-index: 20;
    color: white;
    font-size: 35px;
    font-family: arial, sans-serif, cursive;
    white-space: nowrap;
}

.amongsus {
    z-index: 25;
    position: fixed;
    left: 0;
    top: 50%;
    overflow: hidden;
    user-select: none;
    animation: eject 8s infinite linear;
}

@keyframes eject {
    0% {
        transform: translate3d(-50vmin, -20vmin, 0px) rotate(0turn);
    }
    50%, 100% {
        transform: translate3d(100vw, -20vmin, 0px) rotate(-2turn);
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .amongsus {
        width: 150px;
        height: 150px;
    }

    .sustext {
        font-size: 20px;
    }
}